{% extends "base_dashboard.html" %}

{% block nav_tracks %} active{% endblock %}

{% block content %}

<div class="my-4">
	<h3 class="card-title">My Tracks</h3>
	<p class="lead">These are the tracks you are looking after.</p>

	<table class="table table-striped">
		<thead class="thead-light">
			<tr>
				<th>Track</th>
				<th>Competition</th>
				<th class="text-center">Entrants</th>
			</tr>
		</thead>
		<tbody>
		{% for track in tracks %}
			<tr>
				<td><a href="{{track.get_absolute_url}}">{{track}}</a></td>
				<td>{{track.competition}}</td>
				<td class="text-center">{{track.submission__count}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
