[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-allauth = "*"
django-filter = "*"
"django-bootstrap4" = "*"
django-fileprovider = "*"
djangorestframework = "*"
pinax-notifications = "*"
django-cors-headers = "*"
Django = "*"
Markdown = "*"
sentry-sdk = "*"
pygments = "*"
martor = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.8"
