{% extends "base.html" %}
{% load humanize %}

{% block content %}
{% for object in object_list %}
<h1>{{object}}</h1>

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>Player</th>
      <th>Points</th>
      <th>Result</th>
    </tr>
  </thead>

  <tbody>
    {% for entrant in object.stats.all %}
    <tr>
      <td>{{entrant}}</td>
      <td>{{entrant.points|floatformat:3|intcomma}}</td>
      <td>{{entrant.get_outcome_display}}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">There are no entrants :(</td>
    </tr>
    {% endfor %}
  </tbody>

</table>
{% endfor %}


{% if is_paginated %}
<nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
      <li class="page-item"><span class="page-link">{{ page_obj.number }} of {{ paginator.num_pages }} </span></li>

    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

<a href="{{scoreboard.get_absolute_url}}">Back to scoreboard</a>
{% endblock %}
