{% extends "base.html" %}
{% load bootstrap4 %}

{% block extra_head %}
<style type="text/css">
</style>
{% endblock %}

{% block container %}
<div class="container-fluid d-flex" style="flex-grow: 1">

<div class="row" style="flex-grow: 1" >
<nav class="col-2 bg-light">
  <ul class="nav nav-pills flex-column my-4">
    <li class="nav-item"><a class="nav-link {% block nav_submissions %}{% endblock %}" href="{% url 'dashboard' %}">My Submissions</a></li>
    <li class="nav-item"><a class="nav-link {% block nav_tracks %}{% endblock %}" href="{% url 'org_dashboard' %}">My Tracks</a></li>
  </ul>

  <ul class="nav nav-pills flex-column my-4">
    <li class="nav-item"><a class="nav-link {% block nav_account %}{% endblock %}" href="{% url 'account_settings' %}">My Account</a></li>
    <li class="nav-item"><a class="nav-link {% block nav_email %}{% endblock %}" href="{% url 'account_email' %}">Email Addresses</a></li>
  </ul>
</nav>
<div class="col-10">
{% bootstrap_messages %}

{% block content %}
	<h2>Dashboard content not overriden!</h2>
{% endblock %}
	{% block extra_body %}
	{% endblock %}
</div>

</div>
{% endblock %}
