<!DOCTYPE html>
<html>
	<head>
		<title>{% if request.site %}{{request.site.name}} - {% endif %}{% block head_title %}{% endblock %}</title>
		{% load bootstrap4 static %}

		<!-- bootstrap -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="{% static "css/fossgalaxy.min.css" %}" crossorigin="anonymous">
		<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>

		<!-- Optional theme -->
		<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">

		{% if request.site %}
		<link rel="canonical" href="{% block canonical_url %}https://{{request.site}}{{request.get_full_path}}{% endblock %}">
		{% endif %}

		<!-- Latest compiled and minified JavaScript -->
                <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>		

		{% block extra_head %}
		{% endblock %}
	</head>
	<body>
		{% block navbar %}
		<nav class="navbar navbar-expand navbar-dark bg-dark" style="position: sticky; top: 0; z-index: 1071">
			<a class="navbar-brand" href="{% url 'home' %}">Comet</a>
			<ul class="navbar-nav">
			   <li class="nav-item">
				<a class="nav-link" href="{% url 'competitions' %}">Competitions</a>
			   </li>
			</ul>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<form action="{% url 'competitions' %}" class="form-inline my-2">
				<input class="form-control mr-sm-2" name="name" type="search" />
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>

			<div class="btn-group ml-auto" role="group">
				{% if not user.is_active %}
				<a href="{% url 'account_login' %}" class="btn btn-outline-light" role="button">Login</a>
				<a href="{% url 'account_signup' %}" class="btn btn-outline-light" role="button">Register</a>
				{% else %}
					{% if user.is_staff %}
					<a href="{% url 'admin:index' %}" class="btn btn-outline-light" role="button">Admin</a>
					{% endif %}
				<a href="{% url 'dashboard' %}" class="btn btn-outline-light" role="button">Dashboard</a>
				<a href="{% url 'account_profile' %}" class="btn btn-outline-light" role="button">Profile</a>
				<a href="{% url 'account_logout' %}" class="btn btn-outline-light" role="button">Logout</a>
				{% endif %}
			</div>


					</div>
		</nav>
		{% endblock %}

		{% block container %}
		<div class="container mt-3" >

			{% bootstrap_messages %}
			{% block body %}


			{% block content %}
			{% endblock %}
			{% endblock %}
			{% block extra_body %}
			{% endblock %}
		</div>
		{% endblock %}
			<footer class="footer text-muted text-center">
				<div class="container">
					<a href="https://git.fossgalaxy.com/iggi/Comet">Comet Competition Server</a> created by <a href="http://www.webpigeon.me.uk">Joseph Walton-Rivers</a>
				</div>
			</footer>

	</body>
</html>
