{% extends "base_multicol.html" %}
{% load account %}

{% block head_title %}{{track}}{% endblock %}

{% block content_main %}
    <div class="my-5">
	    <h1>{{track}}</h1>
	    <p class="lead"><a href="{% url 'competitions' %}?competition={{track.competition.pk}}">{{track.competition}}</a></p>
    </div>

    <ul class="nav nav-tabs">
      <li class="nav-item">
	      <a class="nav-link {% if 'track_detail' == tab_active %}active{% endif %}" href="{% url 'track_detail' pk=track.pk %}" >Details</a>
      </li>
      <li class="nav-item">
	      <a class="nav-link {% if 'track_scores' == tab_active %}active{% endif %}" href="{% url 'track_scores' track=track.pk %}" >Scores</a>
      </li>
    </ul>

   <div class="tab-content my-3">

    <div class="tab-pane active">
	{% block content_tab %}
		Content tab not set!
	{% endblock %}

    </div>

  </div>


{% endblock %}

{% block content_sidebar %}
    <nav class="nav flex-column">
    {% for link in track.competition.links.all %}
      <a class="nav-link" href="{{link.url}}">{{link}}</a>
    {% endfor %}
    </nav>
    <hr />

    <nav class="nav flex-column">
    {% if track.allow_submit and user.is_authenticated %}
    {% if not submission %}
    <a class="nav-link btn btn-primary" href="{% url 'submission_create' track=track.pk %}">Create Submission</a>
    {% else %}
    <a class="nav-link btn btn-primary" href="{{submission.get_absolute_url}}">View Submission</a>
    {% endif %}
    {% endif %}
    </nav>
{% endblock %}
