{% extends "base.html" %}

{% block head_title %}{{competition}}{% endblock %}

{% block content %}
<h1>{{competition}}</h1>
<p class="lead">{{competition.description}}</p>

{% if competition.links.all %}
<h2>Useful Links</h2>
<ul>
  {% for link in competition.links.all %}
  <li><a href="{{link.url}}">{{link}}</a></li>
  {% endfor %}
</ul>
{% endif %}

<h2>Tracks</h2>
<ul>
  {% for track in competition.track_set.all %}
  <li><a href="{{track.get_absolute_url}}">{{track}}</a></li>
  {% endfor %}
</ul>

{% endblock %}
