{% extends "base.html" %}
{% load static %}

{% block head_title %}Competitions{% endblock %}

{% block content %}
	<div class="row my-4">
		<div class="col-sm-8 d-none d-lg-block">
			<img class="img-fluid rounded" src="{% static "img/header.png" %}" alt="" />
		</div>
		<div class="col-12 col-lg-4">
			<h1>Welcome to Comet</h1>
			<p>Comet is a server that manages uploads, compilation and scoring for accademic competitions.</p>
			<!-- <a class="btn btn-primary pull-right" href="{% url 'competitions' %}">View Tracks</a> -->
		</div>
	</div>
	<hr />

<h3>Open Tracks</h3>
<div class="card-deck my-3">
    {% for track in tracks %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"><a href="{{track.get_absolute_url}}">{{track.competition}}</a></h4>
            <h5 class="card-subtitle mb-2 text-muted">{{track}}</h5>
            <p class="card-text">{{track.description}}</p>
        </div>
        <div class="card-footer">
            <a href="{{ track.get_absolute_url }}" class="card-link">Details</a>
            <a href="{{ track.get_absolute_url }}" class="card-link">Enter</a>
        </div>
    </div>
    {% empty %}
    No open tracks
    {% endfor %}
</div>

    <a class="btn btn-primary float-right" href="{% url 'competitions' %}">View all</a>

{% endblock %}
