{% extends "base.html" %}

{% block head_title %}Competitions{% endblock %}

{% block content %}
<div class="page-header">
	<h1>Comet Competition server</h1>
</div>
	
	<div class="row">
	    <div class="col-md-3">
	    <h2>Open Tracks</h2>
	    <div class="list-group">
	      {% for track in tracks %}
	      <a class="list-group-item" href="{{track.get_absolute_url}}">{{track}}</a></li>
	      {% endfor %}
	    </div>
	    </div>
	    <div class="col-md-9">
	        <h2>News</h2>
	        <hr />
	        {% for update in news %}
	        <div class="clearfix">
	            <h3>{{update.title}}</h3>
	            <p>{{update.summary}}</p>
	        </div>
	        <hr />
	        {% endfor %}
	    </div>
	</div>
	
	<p><a class="btn btn-primary pull-right" href="{% url 'competitions' %}">View competitions</a></p>

{% endblock %}
