{% extends "base.html" %}

{% block head_title %}Competitions{% endblock %}

{% block content %}
	<div class="row my-4">
		<div class="col-sm-8 d-none d-lg-block">
			<img class="img-fluid rounded" src="http://via.placeholder.com/900x250" alt="" />
		</div>
		<div class="col-12 col-lg-4">
			<h1>Welcome to Comet</h1>
			<p>Comet is a server that manages uploads, compilation and scoring for accademic competitions.</p>
			<a class="btn btn-primary pull-right" href="{% url 'competitions' %}">View Tracks</a>
		</div>
	</div>
	<hr />

	<div class="row">
	    <div class="col-12 col-lg-3">
	    <h2>Open Tracks</h2>
	    <div class="list-group">
	      {% for track in tracks %}
	      <a class="list-group-item" href="{{track.get_absolute_url}}">{{track}}</a></li>
	      {% endfor %}
	    </div>
	    </div>
	    <div class="col-12 col-lg">
	        <h2 class="my-3">News</h2>
	        {% for update in news %}
	        <div class="my-2 clearfix">
	            <h3>{{update.title}}</h3>
	            <p>{{update.summary}}</p>
	        </div>
	        {% endfor %}
	    </div>
	</div>

{% endblock %}
