{% extends "base_dashboard.html" %}

{% block content %}
<div class="my-4">
	<h3 class="card-title">Active Submissions</h3>
	<p class="lead">These are your submissions for tracks which are still accepting changes.</p>
	<table class="table table-striped">
		<thead class="thead-light">
			<tr>
				<th>Track</th>
				<th>Agent</th>
				<th>Status</th>
				<th>Score</th>
			</tr>
		</thead>
		<tbody>
		{% for submission in submissions %}
			<tr>
				<td><a href="{{submission.track.get_absolute_url}}">{{submission.track}}</a></td>
				<td><a href="{{submission.get_absolute_url}}">{{submission}}</a></td>
				<td>{{submission.current_upload.get_status_display}}</td>
				<td>{{submission.ranking}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
