{% extends "base.html" %}
{% load account bootstrap3 %}

{% block head_title %}{{competition}}{% endblock %}

{% block content %}
<h1>Upload new revision of '{{submission}}'</h1>

{% if submission.track.instructions %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title"><a data-toggle="collapse" href="#instructions">Submission Instructions</a></h4>
  </div>
  <div id="instructions" class="panel-collapse collapse">
    <div class="panel-body">
      <p>SOMETHING.</p>
    </div>
  </div>
</div>
{% endif %}

<form method="post" action="#" enctype="multipart/form-data" >
  {% csrf_token %}
{% bootstrap_form form %}
<input type="hidden" name="submission" value="{{submission.pk}}" />

<input type="submit" class="btn btn-primary" value="Upload Revision" />
<a href="{{ submission.get_absolute_url }}" class="btn btn-text">cancel</a>
</form>

{% endblock %}
