{% extends "base.html" %}

{% block content %}

<div class="">
	<h3>Current Submissions</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Track</th>
				<th>Name</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Hanabi 2017</td>
				<td>Yolobot</td>
				<td>Build success</td>
			</tr>
			<tr>
				<td>Hanabi 2016</td>
				<td>Yolobot</td>
				<td>Build success</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="card-columns">
	<div class="card">
		<div class="card-body">
			<h3 class="card-title">Current Entries</h3>
			<ul>
				<li><a href="#">Hanabi</a></li>
				<li><a href="#">Hanabi</a></li>
				<li><a href="#">Hanabi</a></li>
			</ul>
		</div>
	</div>

</div>

{% endblock %}
