{% extends "base_multicol.html" %}

{% block head_title %}{{submission}}{% endblock %}

{% block content_top %}

{% if submission.owner == user and not submission.current_upload %}
<div class="alert alert-warning">
  <strong>Warning</strong>
  You have no uploads, please upload one now to enter the competition.
</div>
{% endif %}

{% endblock %}

{% block content_main %}
<h1>{{submission}}</h1>
<p class="lead">{{submission.description}}</p>

<div class="row">
	<div class="col-12 col-md-6">
		<h3>Details</h3>
		<dl class="row">
			<dt class="col-12 col-md-3">Track</dt>
			<dd class="col-12 col-md-9"><a href="{{submission.track.get_absolute_url}}">{{submission.track}}</a></dd>
			<dt class="col-12 col-md-3">Author</dt>
			<dd class="col-12 col-md-9"><a href="{% url 'account_profile' username=submission.owner.username %}">{{submission.owner}}</a></dd>
		</dl>
	</div>
	<div class="col-12 col-md-6">
		<h3>Ranking</h3>
		{{submission.ranking}}
	</div>
</div>

<h2>Versions</h2>
<table class="table table-striped">
  <thead class="thead-light">
  <tr>
    <th>Version</th>
    <th>Status</th>
  </tr>
</thead>
<tbody>
    {% for upload in submission.uploads.all %}
  <tr {% if upload == submission.current_upload %}class="info"{% endif %}>
    <th>{{upload.created}}</th>
    <td>{{upload.get_status_display}}</td>
  </tr>
  {% empty %}
  <tr>
  <td colspan="2" class="text-center">
	There are no uploads for this submission
        {% if submission.owner == user %}
		<a href="{% url 'submission_upload' submission=submission.pk %}">Upload submission</a>
        {% endif %}
  </td>
</tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}

{% block content_sidebar %}
		{% if submission.owner == user and submission.track.allow_update %}
			<a class="btn btn-primary mt-md-2" href="{% url 'submission_upload' submission=submission.pk %}">Upload new Version</a>
      <a class="btn btn-primary mt-md-2" href="{% url 'submission_update' pk=submission.pk %}">Update Details</a>
		{% endif %}
    <a class="btn btn-primary mt-md-2" href="{{submission.track.get_absolute_url}}">View Track</a>
{% endblock %}
