{% extends "base.html" %}

{% block head_title %}{{submission}}{% endblock %}

{% block content %}
<h1>{{submission}}</h1>
<p class="lead">{{submission.description}}</p>
<p>Created by <a href="{{submission.owner.get_absolute_url}}">{{submission.owner}}</a> on {{submission.created}}</p>

{% if submission.owner == user %}
<p class="alert">This is your submission.</p>
{% endif %}

<a href="{{submission.track.get_absolute_url}}">{{submission.track}}</a>

<h2>Versions</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Version</th>
    <th>Status</th>
    <th></th>
  </tr>
</thead>
<tbody>
    {% for upload in submission.uploads.all %}
  <tr {% if upload == submission.current_upload %}class="info"{% endif %}>
    <th>{{upload.created}}</th>
    <td>{{upload.get_status_display}}</td>
    <td></td>
  </tr>
  {% empty %}
  <tr>
  <td colspan="3" class="muted">There are no uploads for this submission</td>
</tr>
  {% endfor %}
</tbody>
</table>


{% if submission.owner == user and submission.track.allow_update %}
<a class="btn btn-primary" href="{% url 'submission_upload' submission=submission.pk %}">Upload new submission</a>
{% endif %}

{% endblock %}
