{% extends "base.html" %}

{% block content %}

<div class="">
	<h3>Current Submissions</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Track</th>
				<th>Name</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

<h3>Open Tracks</h3>
<div class="card-columns">
    {% for track in tracks %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{track.competition}}</h4>
            <h5 class="card-subtitle mb-2 text-muted">{{track}}</h5>
            <p class="card-text">{{track.description}}</p>
            <a href="{{ track.get_absolute_url }}" class="card-link">Details</a>
            <a href="{{ track.get_absolute_url }}" class="card-link">Enter</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
