{% extends "base.html" %}
{% load account %}

{% block head_title %}{{competition}}{% endblock %}

{% block content %}
<h1>{{track}}</h1>
<p class="lead">{{track.description}}</p>

<a href="{{track.competition.get_absolute_url}}">{{track.competition}}</a>

{% if track.allow_submit %}<p>Submissions Open</p>{% endif %}
{% if track.allow_update %}<p>Editing of Submissions is permitted</p>{% endif %}

<h2>Current Submissions</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Ranking</th>
    </tr>
  </thead>

{% for submission in track.submission_set.all %}
  <tr>
    <th><a href="{{submission.get_absolute_url}}">{{submission}}</a></th>
    <td>{% user_display submission.owner %}</td>
    <td>{{submission.ranking}}</td>
  </tr>
  {% empty %}
  There are presently no submissions
{% endfor %}
</table>

{% if track.allow_submit %}
<a href="{% url 'submission_create' track=track.pk %}">submit now</a>
{% endif %}

{% endblock %}
