{% extends "base_multicol.html" %}
{% load account %}

{% block head_title %}{{competition}}{% endblock %}

{% block content_main %}
    <h1>{{track}}</h1>
    <p>{{track.competition}}</p>

    {% if track.owner %}
    <p> Run by <a href="{{track.owner.get_absolute_url}}">{{track.owner}}</a></p>
    {% endif %}

    <p class="lead">{{track.description}}</p>

    <div class="row">
    	<div class="col">
    		<h3>Details</h3>
    		<dl class="row">
    			<dt class="col-12 col-md-3">New</dt>
    			<dd class="col-12 col-md-9">
            {% if track.allow_submit %}
             <i class="fa fa-check" aria-hidden="true"></i> Submissions Open
            {% else %}
             <i class="fa fa-times" aria-hidden="true"></i> Submissions Closed
            {% endif %}
          </dd>

            <dt class="col-12 col-md-3">Updates</dt>
            <dd class="col-12 col-md-9">
              {% if track.allow_update %}
               <i class="fa fa-check" aria-hidden="true"></i> Updates allowed
              {% else %}
               <i class="fa fa-times" aria-hidden="true"></i> Updates not allowed
              {% endif %}
            </dd>
    		</dl>
    	</div>
    	<div class="col">
    	</div>
    </div>

<h2>Submissions</h2>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Ranking</th>
    </tr>
  </thead>

<tbody>
{% for submission in track.submission_set.all %}

  <tr {% if not submission.current %} class="warning" {% endif %}>
    <th><a href="{{submission.get_absolute_url}}">{{submission}}</a>{% if submission.sample %} <span class="label label-default">sample</span>{% endif %}</th>
    <td>{% user_display submission.owner %}</td>
    <td>{{ submission.pretty_score|default:"wtf" }}</td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="3"><p class="text-center">There are presently no submissions</p></td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}

{% block content_sidebar %}
    {% if track.allow_submit and user.is_authenticated %}
    {% if not submission %}
    <p><a class="btn btn-primary" href="{% url 'submission_create' track=track.pk %}">Create Submission</a></p>
    {% else %}
    <p><a class="btn btn-primary" href="{{submission.get_absolute_url}}">View Submission</a></p>
    {% endif %}
    {% endif %}
{% endblock %}
