{% extends "base.html" %}
{% load account bootstrap4 %}

{% block head_title %}{{track}}{% endblock %}

{% block content %}

{% if form.instance.pk is None %}
  <h1>Create New Track</h1>
{% else %}
  <h1>Update '{{form.instance}}'</h1>
{% endif %}

<form method="post" action="#">
  {% csrf_token %}
{% bootstrap_form form %}
<input type="hidden" name="track" value="{{track.pk}}" />

  {% if form.instance.pk is None %}
    <input type="submit" class="btn btn-primary" value="Create" />
  {% else %}
    <input type="submit" class="btn btn-primary" value="Update" />
  {% endif %}

  {% if form.instance.pk is None %}
    <a href="{{ track.get_absolute_url }}" class="btn btn-text">cancel</a>
  {% else %}
    <a href="{{ form.instance.get_absolute_url }}" class="btn btn-text">cancel</a>
  {% endif %}
</form>

{% endblock %}
