{% extends "base.html" %}

{% load extra_utils %}

{% block head_title %}Competitions{% endblock %}

{% block content %}
<h1 class="my-5">Tracks</h1>

<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link {% if not get_allow_submit or get_allow_submit == '1' %}active{% endif %}" href="?{% url_replace allow_submit=1 page=1 %}">All</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if get_allow_submit == '2' %}active{% endif %}" href="?{% url_replace allow_submit=2 page=1 %}">Active</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if get_allow_submit == '3' %}active{% endif %}" href="?{% url_replace allow_submit=3 page=1 %}">Previous</a>
	</li>
</ul>


<div class="row mt-2">
	<div class="col-12 col-md">

		<i class="clearfix" ></i>

		{% for track in track_list.all %}
		{% dict_get d=uploads n=track.pk as submitted %}

		<div class="card track-list-detail">
			<div class="card-body">
				<h3 class="card-title"><a href="{{track.get_absolute_url}}">{{track}}</a></h3>
				<h4 class="card-subtitle mb-2 text-muted">{{track.competition}}</h4>
				<p class="card-text">{{track.description|default:""}}</p>
			</div>
			<div class="card-footer">
				<div class="d-flex" style="text-algin: center">
					<span class="fa-layers fa-fw align-self-center" title="Submissions Marker">
						<i class="fa fa-plus"></i>
						{% if not track.allow_submit %}
						<i class="fa fa-ban text-danger"></i>
						{% endif %}
					</span>
					<span class="fa-layers fa-fw align-self-center ml-2" title="Update Marker">
						<i class="fas fa-pencil-alt"></i>
						{% if not track.allow_update %}
						<i class="fas fa-ban text-danger"></i>
						{% endif %}
					</span>
					{% if track.allow_submit and not submitted %}
					<a class="ml-auto btn-sm btn-primary" href="{% url 'submission_create' track=track.pk %}">enter</a>
					{% endif %}
					{% if submitted %}
					<a class="ml-auto btn-sm btn-primary" href="{% url 'submission_detail' pk=submitted %}">view submission</a>
					{% endif %}
				</div>
			</div>
		</div>
		{% empty %}
		<p class="text-muted">No tracks matching this criteria</p>
		{% endfor %}

	</div>

	<div class="col-12 col-md-4 col-lg-3 my-3" id="filters">
		<h2 class="sr-only" >Filters</h2>
		<form action="?search" method="GET">
		<div class="input-group">
			<div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span></div>
			<input type="text" class="form-control" placeholder="search..." value="{{get_name}}" name="name" />
		</div>
		</form>

		<h4 class="mt-3" >Competition</h4>
		<div id="filter-competition" class="list-group">
			<a class="list-group-item list-group-item-action {% if not get_competition %}active{% endif %}" href="?{% url_replace competition=None page=1 %}">All competitions</a>
			{% for competition in competitions %}
			<a class="list-group-item list-group-item-action {% if get_competition == competition.pk %}active{% endif %}" href="?{% url_replace competition=competition.pk page=1 %}">{{competition}}</a>
			{% endfor %}
		</div>
	</div>
</div>

{% if is_paginated %}
<nav aria-label="Page navigation" class="my-3">
	<ul class="pagination justify-content-center">
		{% if page_obj.has_previous %}
		<li class="page-item">
			<a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
				<span class="sr-only">Previous</span>
			</a>
		</li>
		{% endif %}
		<li class="page-item disabled"><span class="page-link">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>
		{% if page_obj.has_next %}
		<li class="page-item">
			<a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
				<span class="sr-only">Next</span>
			</a>
		</li>
		{% endif %}
	</ul>
</nav>
{% endif %}

{% endblock %}
