{% extends "fg_competitions/base_track.html" %}
{% load account %}

{% block head_title %}{{track}}{% endblock %}

{% block content_tab %}
<h2 class="sr-only">Leaderboard</h2>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Ranking</th>
    </tr>
  </thead>

<tbody>
{% for submission in submissions %}
  {% with current=submission.current %}
  <tr {% if not current %} class="warning" {% endif %}>
    <th><a href="{{submission.get_absolute_url}}">{{submission}}</a>{% if submission.sample %} <span class="badge badge-secondary">sample</span>{% endif %}</th>
    <td>{% user_display submission.owner %}</td>
    {% if current and current.is_valid %}
    <td>{{ current.pretty_score|floatformat:3 }}</td>
    {% else %}
    <td>{{ current.pretty_score|default:"No Submission" }}</td>
    {% endif %}
  </tr>
  {% endwith %}
  {% empty %}
  <tr>
    <td colspan="3"><p class="text-center">There are presently no submissions</p></td>
  </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
